.default-input {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.highlight {
  color: #5AF7E8;
}

