.icon {
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.icon-back {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5303 6.46967C11.8232 6.76256 11.8232 7.23744 11.5303 7.53033L7.81066 11.25L18 11.25C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75L7.81066 12.75L11.5303 16.4697C11.8232 16.7626 11.8232 17.2374 11.5303 17.5303C11.2374 17.8232 10.7626 17.8232 10.4697 17.5303L5.46967 12.5303C5.32902 12.3897 5.25 12.1989 5.25 12C5.25 11.8011 5.32902 11.6103 5.46967 11.4697L10.4697 6.46967C10.7626 6.17678 11.2374 6.17678 11.5303 6.46967Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-close {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46967 5.46967C5.76256 5.17678 6.23744 5.17678 6.53033 5.46967L12 10.9393L17.4697 5.46967C17.7626 5.17678 18.2374 5.17678 18.5303 5.46967C18.8232 5.76256 18.8232 6.23744 18.5303 6.53033L13.0607 12L18.5303 17.4697C18.8232 17.7626 18.8232 18.2374 18.5303 18.5303C18.2374 18.8232 17.7626 18.8232 17.4697 18.5303L12 13.0607L6.53033 18.5303C6.23744 18.8232 5.76256 18.8232 5.46967 18.5303C5.17678 18.2374 5.17678 17.7626 5.46967 17.4697L10.9393 12L5.46967 6.53033C5.17678 6.23744 5.17678 5.76256 5.46967 5.46967Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-home {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.46967 0.46967C9.76256 0.176777 10.2374 0.176777 10.5303 0.46967L19.5303 9.46967C19.8232 9.76256 19.8232 10.2374 19.5303 10.5303C19.2374 10.8232 18.7626 10.8232 18.4697 10.5303L17.75 9.81066V18C17.75 18.9665 16.9665 19.75 16 19.75H4C3.0335 19.75 2.25 18.9665 2.25 18V9.81066L1.53033 10.5303C1.23744 10.8232 0.762563 10.8232 0.46967 10.5303C0.176777 10.2374 0.176777 9.76256 0.46967 9.46967L9.46967 0.46967ZM3.75 8.31066V18C3.75 18.1381 3.86193 18.25 4 18.25H7C7.13807 18.25 7.25 18.1381 7.25 18V14C7.25 13.0335 8.0335 12.25 9 12.25H11C11.9665 12.25 12.75 13.0335 12.75 14V18C12.75 18.1381 12.8619 18.25 13 18.25H16C16.1381 18.25 16.25 18.1381 16.25 18V8.31066L10 2.06066L3.75 8.31066ZM11.2677 18.25C11.256 18.1683 11.25 18.0849 11.25 18V14C11.25 13.8619 11.1381 13.75 11 13.75H9C8.86193 13.75 8.75 13.8619 8.75 14V18C8.75 18.0849 8.74396 18.1683 8.73228 18.25H11.2677Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-share {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.25 17.5C5.25 18.7426 6.25736 19.75 7.5 19.75L17.5 19.75C18.7426 19.75 19.75 18.7426 19.75 17.5L19.75 13.5C19.75 12.2574 18.7426 11.25 17.5 11.25L16.5 11.25C16.0858 11.25 15.75 10.9142 15.75 10.5C15.75 10.0858 16.0858 9.75 16.5 9.75L17.5 9.75C19.5711 9.75 21.25 11.4289 21.25 13.5L21.25 17.5C21.25 19.5711 19.5711 21.25 17.5 21.25L7.5 21.25C5.42893 21.25 3.75 19.5711 3.75 17.5L3.75 13.5C3.75 11.4289 5.42893 9.75 7.5 9.75L8.5 9.75C8.91421 9.75 9.25 10.0858 9.25 10.5C9.25 10.9142 8.91421 11.25 8.5 11.25L7.5 11.25C6.25736 11.25 5.25 12.2574 5.25 13.5L5.25 17.5ZM7.96967 7.03033C7.67678 6.73743 7.67678 6.26256 7.96967 5.96967L11.9697 1.96967C12.2626 1.67677 12.7374 1.67677 13.0303 1.96967L17.0303 5.96967C17.3232 6.26256 17.3232 6.73743 17.0303 7.03033C16.7374 7.32322 16.2626 7.32322 15.9697 7.03033L13.25 4.31066L13.25 16.5C13.25 16.9142 12.9142 17.25 12.5 17.25C12.0858 17.25 11.75 16.9142 11.75 16.5L11.75 4.31066L9.03033 7.03033C8.73744 7.32322 8.26256 7.32322 7.96967 7.03033Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-edit {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5058 2.74408C13.1803 2.41864 12.6527 2.41864 12.3272 2.74408L6.74984 8.32149L6.74984 9.5H7.92835L13.5058 3.92259C13.8312 3.59715 13.8312 3.06951 13.5058 2.74408ZM11.6201 2.03697C12.3361 1.32101 13.4969 1.32101 14.2129 2.03697C14.9288 2.75293 14.9288 3.91373 14.2129 4.6297L8.48901 10.3536C8.39524 10.4473 8.26806 10.5 8.13545 10.5H6.24984C5.97369 10.5 5.74984 10.2761 5.74984 10L5.74984 8.11438C5.74984 7.98177 5.80252 7.8546 5.89628 7.76083L11.6201 2.03697ZM4.24984 3.83334C3.7896 3.83334 3.4165 4.20643 3.4165 4.66667V12C3.4165 12.4602 3.7896 12.8333 4.24984 12.8333H11.5832C12.0434 12.8333 12.4165 12.4602 12.4165 12V8.66667C12.4165 8.39053 12.6404 8.16667 12.9165 8.16667C13.1926 8.16667 13.4165 8.39053 13.4165 8.66667V12C13.4165 13.0125 12.5957 13.8333 11.5832 13.8333H4.24984C3.23731 13.8333 2.4165 13.0125 2.4165 12V4.66667C2.4165 3.65415 3.23732 2.83334 4.24984 2.83334H7.58317C7.85931 2.83334 8.08317 3.05719 8.08317 3.33334C8.08317 3.60948 7.85931 3.83334 7.58317 3.83334H4.24984Z' fill='white'/%3E%3C/svg%3E%0A");

  &.is-disabled {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5058 2.74408C13.1803 2.41864 12.6527 2.41864 12.3272 2.74408L6.74984 8.32149L6.74984 9.5H7.92835L13.5058 3.92259C13.8312 3.59715 13.8312 3.06951 13.5058 2.74408ZM11.6201 2.03697C12.3361 1.32101 13.4969 1.32101 14.2129 2.03697C14.9288 2.75293 14.9288 3.91373 14.2129 4.62969L8.48901 10.3536C8.39524 10.4473 8.26806 10.5 8.13545 10.5H6.24984C5.97369 10.5 5.74984 10.2761 5.74984 10L5.74984 8.11438C5.74984 7.98177 5.80252 7.85459 5.89628 7.76083L11.6201 2.03697ZM4.24984 3.83333C3.7896 3.83333 3.4165 4.20643 3.4165 4.66667V12C3.4165 12.4602 3.7896 12.8333 4.24984 12.8333H11.5832C12.0434 12.8333 12.4165 12.4602 12.4165 12V8.66667C12.4165 8.39052 12.6404 8.16667 12.9165 8.16667C13.1926 8.16667 13.4165 8.39052 13.4165 8.66667V12C13.4165 13.0125 12.5957 13.8333 11.5832 13.8333H4.24984C3.23731 13.8333 2.4165 13.0125 2.4165 12V4.66667C2.4165 3.65414 3.23732 2.83333 4.24984 2.83333H7.58317C7.85931 2.83333 8.08317 3.05719 8.08317 3.33333C8.08317 3.60948 7.85931 3.83333 7.58317 3.83333H4.24984Z' fill='%23747474'/%3E%3C/svg%3E%0A");
  }
}

.icon-copy {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.9165 3.99999C2.9165 2.98747 3.73732 2.16666 4.74984 2.16666H10.0832C11.0957 2.16666 11.9165 2.98747 11.9165 3.99999V4.83332H12.7498C13.7624 4.83332 14.5832 5.65413 14.5832 6.66666V12C14.5832 13.0125 13.7624 13.8333 12.7498 13.8333H7.4165C6.40398 13.8333 5.58317 13.0125 5.58317 12V11.1667H4.74984C3.73732 11.1667 2.9165 10.3458 2.9165 9.33332V3.99999ZM6.58317 12C6.58317 12.4602 6.95627 12.8333 7.4165 12.8333H12.7498C13.2101 12.8333 13.5832 12.4602 13.5832 12V6.66666C13.5832 6.20642 13.2101 5.83332 12.7498 5.83332H7.4165C6.95627 5.83332 6.58317 6.20642 6.58317 6.66666V12ZM10.9165 4.83332H7.4165C6.40398 4.83332 5.58317 5.65413 5.58317 6.66666V10.1667H4.74984C4.2896 10.1667 3.9165 9.79356 3.9165 9.33332V3.99999C3.9165 3.53975 4.2896 3.16666 4.74984 3.16666H10.0832C10.5434 3.16666 10.9165 3.53975 10.9165 3.99999V4.83332Z' fill='white'/%3E%3C/svg%3E%0A");

  &.is-disabled {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.9165 4C2.9165 2.98748 3.73732 2.16667 4.74984 2.16667H10.0832C11.0957 2.16667 11.9165 2.98748 11.9165 4V4.83333H12.7498C13.7624 4.83333 14.5832 5.65414 14.5832 6.66667V12C14.5832 13.0125 13.7624 13.8333 12.7498 13.8333H7.4165C6.40398 13.8333 5.58317 13.0125 5.58317 12V11.1667H4.74984C3.73732 11.1667 2.9165 10.3459 2.9165 9.33333V4ZM6.58317 12C6.58317 12.4602 6.95627 12.8333 7.4165 12.8333H12.7498C13.2101 12.8333 13.5832 12.4602 13.5832 12V6.66667C13.5832 6.20643 13.2101 5.83333 12.7498 5.83333H7.4165C6.95627 5.83333 6.58317 6.20643 6.58317 6.66667V12ZM10.9165 4.83333H7.4165C6.40398 4.83333 5.58317 5.65414 5.58317 6.66667V10.1667H4.74984C4.2896 10.1667 3.9165 9.79357 3.9165 9.33333V4C3.9165 3.53976 4.2896 3.16667 4.74984 3.16667H10.0832C10.5434 3.16667 10.9165 3.53976 10.9165 4V4.83333Z' fill='%23747474'/%3E%3C/svg%3E%0A");
  }
}

.icon-돈 {
  background-image: url('/images/icon_money.png');
}

.icon-회사 {
  background-image: url('/images/icon_company.png');
}

.icon-기타 {
  background-image: url('/images/icon_etc.png');
}

.icon-결혼 {
  background-image: url('/images/icon_marriage.png');
}

.icon-약속 {
  background-image: url('/images/icon_promise.png');
}

.icon-학교 {
  background-image: url('/images/icon_school.png');
}

.icon-청첩장모임 {
  background-image: url('/images/icon_invitation.png');
}

.icon-결혼식참여 {
  background-image: url('/images/icon_participation.png');
}

.icon-축가및축사 {
  background-image: url('/images/icon_celebration.png');
}

.icon-결혼기념일 {
  background-image: url('/images/icon_anniversary.png');
}

.icon-과제 {
  background-image: url('/images/icon_workout.png');
}

.icon-회식 {
  background-image: url('/public/images/icon_staffdinner.png');
}

.icon-업무 {
  background-image: url('/public/images/icon_work.png');
}

.icon-check {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z' fill='%235AF7E8'/%3E%3C/svg%3E%0A");
}

