.resultItemWrapper {
  margin-bottom: 48px;
}

.resultItemTitleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 1.5;
}

.imgWrapper {
  width: 32px;
  height: 32px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionWrapper {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  margin-top: 16px;

  &.typeReject {

    .description {
      min-height: 100px;
    }
  }
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 16px;
  background-color: #313131;
  line-height: 1.5;
  min-height: 200px;
  white-space: pre-line;
}

.buttonAllWrapper {
  margin-top: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttonIconWrapper {
  width: 16px;
  height: 16px;
}

.buttonText {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.editButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #565656;
  border-radius: 12px;
  height: 40px;

  &:disabled {

    .buttonText {
      color: #747474;
    }
  }
}

.copyButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  height: 40px;
  background-color: #7122F2;

  &.typeFull {
    width: 100%;
  }

  &:disabled {
    background-color: #565656;

    .buttonText {
      color: #747474;
    }
  }
}

.retryButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.retryButton {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  text-decoration: underline;

  &:disabled {
    color: #3D3D3D;
  }
}

.tipItemWrapper {
  background-color: #313131;
  padding: 24px 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.tipItemTitleWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.tipItemImgWrapper {
  width: 24px;
  height: 24px;
}

.tipTitle {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.tipDescription {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #565656;
  padding: 16px;
  border-radius: 12px;
  line-height: 1.5;
}

.recommendationWrapper {
  padding: 48px 0;
}

.recommendationComment {
  font-size: 20px;
  font-weight: 600;
  color: #D6D6D6;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 18px;
  letter-spacing: -.5px;
}

.recommendationButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #313131;
  border-radius: 50%;
  margin: 0 auto;
  gap: 3px;
}

.recommendationSubComment {
  color: #7122F2;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.iconWrapper {
  width: 24px;
  height: 24px;
}

.recommendationText {
  font-size: 14px;
  font-weight: 500;
  color: #fff
}

// V2
.resultItemWrapper {

  &.typeV2 {
    margin-bottom: 20px;

    .description {
      padding: 16px 16px 52px 16px;
    }
  }
}

.resultItemV2TitleWrapper {
  padding: 12.5px 0;
  margin-top: 32px;
}

.resultItemV2Desc {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.resultItemV2Title {
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 24px;
}

.resultItemV2ImgWrapper {
  width: 104px;
  height: 104px;
  margin: 18px auto 0;
}

.resultItemV2Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shareWrapper {
  margin-bottom: 32px;
}

.shareButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background-color: #313131;
  padding: 8px 17px;
  margin: 0 auto;
}

.descriptionEditButton {
  z-index: 1;
  position: absolute;
  left: auto;
  right: 16px;
  top: auto;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #232323;
}

.descriptionEditIconWrapper {
  width: 20px;
  height: 20px;
}

.middleTextWrapper {
  margin-bottom: 32px;
}

.middleText {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 1.5;
}
