.header {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
}

.inner {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: #232323;
}

.Button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconWrapper {
    width: 20px;
    height: 20px;
}

// V2
.header {

    &.typeV2 {

        .inner {
            justify-content: space-between;
        }

        .logoImgWrapper {
            width: 56px;
            height: 24px;

            .logoImg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .refreshButton {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 4px;
        }

        .buttonText {
            font-size: 14px;
            color: #fff;
        }
    }
}